
$main_color : #686868;
$address_color : #E75B1E;
$team_color: #1f1f1f;
$color_black : #111111;
$header_font : 'nautilus_pompiliusregular';
$page1color: #E6E6E6 ;
$paragraphe_color: #676767 ;
$shadow_color: #1111114e;
$blue_1: #1a1aff;
$blue_2: #0000e6;
$blue_3: #000099;
$blue_4: #000080;
$blue_5: #2e2eff;
$blue_6: #4141ff;
$blue_7: #000041;
$blue_8: #00007c;

$white_text : white;