
@use "./colors" as *;
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
html , body{
    scroll-behavior: smooth;
}
@mixin head_bottom_p{
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
}

@mixin head_title{
    margin-bottom: 20px;

    font-size: 50px;
    background-image: linear-gradient(to right,rgb(0, 167, 201), $blue_8,$blue_1,rgb(0, 213, 255),$blue_8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@mixin center1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin center2{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin padding{
    padding-top:100px ;
    padding-bottom: 100px;
}
body{
  
    font-family: "Sriracha", cursive;

  }
  

@mixin p767-f_s{
    font-size: 15px;
}
@mixin h767-f_s{
    font-size:35px;
}

/*back-ground */
@mixin back-ground{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*background-black-cover */
@mixin back-ground-black-cover{
    position: absolute;
    content: " ";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.293);
    transition: .5s;
}
/*button styles*/
@mixin head_btn{
    background-color: $blue_7;
    color: $white_text;
    padding:15px 30px;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid $blue_7;
    position: relative;
    transition: 0.5s;
}
@mixin head_btn2{
    background-color: $blue_7;
    color: $white_text;
    padding:10px 8px;
    border: 3px solid $blue_7;
    position: relative;
    transition: 0.5s;
}
@mixin head-hover-btn{
    background-color: transparent;
    border: 3px solid $white_text;
    color: $white_text;
}
@mixin head-hover-btn2{
    background-color: transparent;
    border: 3px solid $blue_7;
    color: $blue_7;
}
@mixin head_btn767{
    background-color: $blue_7;
    color: $white_text;
    padding:8px 18px;
    font-weight: bold;
    font-size: 17px;
    position: relative;
    transition: 0.5s;
}
@mixin after-before_btn{
    position: absolute;
    content: " ";
    bottom: 0px;
    width: 4px;
    height: 0%;
    background-color: $white_text;
    transition: .5s;
}
@mixin after-before_btn2{
    position: absolute;
    content: " ";
    bottom: 0px;
    width: 5px;
    height: 0%;
    background-color: $blue_7;
    transition: .5s;
}
@mixin after-before_btn_hover{
    height: 100%;
}




